/*timeline*/
#Timeline {
	margin-top: 6px;
	width:100%;
}
.archivoTimeline{
	width: 100%;
}

#Timeline li:nth-child(2n-1){
	background: rgba(0, 0, 0, 0.05);
}
#actualizarTL{
	background:#E1E1E1;
	padding: 0px 15px 3px 10px;
	color: #686868;
	font-weight:bold;
	text-decoration: none;
	border-radius: 0 0 15px 0;
}
#publicar-form{
	margin-bottom: 0;
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.3);
}

.publicar {
	font-size:0.9em;
	border-bottom:1px solid #bbb;
	padding:10px 10px 5px 10px;
	height: 47px;
}
.archivoTimeline .date{
	text-align:right;
	font-size: 0.8em;
}
.archivoTimeline  a{
	padding: 0px 15px 0px 15px;
	text-decoration: none;
	font-weight:bold;
	color: rgb(80, 80, 80);
}